<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.example.cellrebelauto" />
    </queries>

    <application>
        <meta-data
            android:name="com.example.cellrebelauto.cutover.CARRIER_DIRECTION"
            android:value="product-import" />
    </application>
</manifest>
